.container {
padding-left: 30px;
padding-right: 30px;
text-align: center;
};

.gallery {
display: flex;
flex-wrap: wrap;
margin-top: calc(-1 * 10px);
margin-left: calc(-1 * 10px);
};

.gallery__image {
   display: block;
   max-width: 100%;
   height: 100%; 
};

.photo-card {
position:relative;
overflow: hidden;
display: block;
 margin-top: 10px;
 margin-left: 10px;
 flex-basis: calc(100% / 3 - 10px);
 font-style: normal;
 width: 100%;
 background-color: rgb(186, 197, 223); 
};

.info {
    display: block;
    text-align: start;
    padding-left: 10px;
    font-size: 16px;
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 45%;
    background: rgba(186, 197, 223, 0.4);
    overflow: hidden;
    transform: translateY(100%);
    transition:
        transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .photo-card:hover &,
    .photo-card:focus & {
        transform: translateY(0%);
        pointer-events: none;
    };

};

.info-item {
    display: flex;
    justify-content: flex-start;
};

.search-form {
    justify-self: center;
    background-color: rgba(186, 197, 223, 0.4);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
};
